.btn-contact-us {
    border: solid 1px #000 !important;
    margin-right: -12px !important;
    font-weight: bold!important;
}
.home{
    background: #e9e7e7;
}
li.nav-item {
    margin: 0px 26px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: none!important;
}
.navbar-brand {
    font-weight: bold;
}
.img-home {
    width: 100%;
    height: 100%;
}
.text-home {
}
.row.home {
    margin-top: 3.15em;
}
.text-home button {
    padding-left: 30px;
    padding-right: 30px;
}
.text-home h1 {
    font-weight: bold;
    font-size: 4em;
}
.text-home p {
    margin: 2.52em 0;
}
.create-memory {
    background-color: #000;
    color: #fff;
    margin-top: 60px;
    padding: 12px;
}
.all-text-memory{
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}
.img-card-list {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-list {
    margin-top: 7.56em;
}
.linge-black {
    width: 3.78em;
    border: solid 2px #000;
    margin: 20px 0px;
}
.card-list h1 {
    font-weight: bold;
    margin-bottom: 25px;
}
p {
    text-align: justify;
}
.text-center {
    text-align: center;
}
.avion h1 {
    font-weight: bold;
    font-size: 3.20em;
    margin-bottom: 40px;
}
.avion {
    margin-top: 15.75em;
}
.text-avion {
    margin-top: 50px;
}
.section-3 {
    margin-top: 200px;
}
.text-group-4 {
    margin-top: 80px !important;
}
.arrow {
    position: absolute;
    right: 0;
    bottom: 0;
}
.position-relative{
    position: relative;
}
.groupe-5 {
    background: #000;
    color: #fff;
    margin-top: 50px;
}
.groupe-5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container.group-5-content {
    padding-top: 119px;
    padding-bottom: 120px;
}
.group-5-content h1 {
    margin-bottom: 40px;
} 
.group-5-content h3 {
    margin-bottom: 30px;
} 
.groupe6-content img {
    width: 100%;
    height: 100%;
}  
.groupe6-content h1 {
    font-size: 4.725em;
    font-weight: bold;
    margin-bottom: 97px;
}
.groupe6-content {
    margin-top: 7.56em;
}
.line-black{
    border-top: solid 1px #000;
}
.line-black img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 18px;
    right: 20px;
}
.line-black p {
    margin-left: 20px;
    margin-top: 15px;
}
.last {
    border-bottom: solid 1px #000;
}
.groupe-7 h1 {
    font-size: 81.46px;
    text-align: center;
    font-weight: bold;
}
.groupe-7 {
    margin-top: 250px;
}
.border-groupe-7{
    height: 26.46em;
    border: solid 1px #000;
}
.groupe-7 .img {
    width: 136px;
    height: 142px;
}
.groupe-7 .center {
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.groupe-7 .username {
    font-size: 1.575em;
    color: #232323;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
.groupe-7 .text{
    font-size: 1.04958em;
    text-align: center;
    color: #6d6d6d;
}